
.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f4f4f;
}

/* Text field and password field styles */
.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #b0bec5; /* Light blue border */
    -fx-border-radius: 5;
    -fx-padding: 10;
}

/* Button styles */
.button {
    -fx-background-color: #1e88e5; /* Blue background for buttons */
    -fx-text-fill: #ffffff; /* White text */
    -fx-border-radius: 5;
    -fx-padding: 10 20;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1565c0; /* Darker blue on hover */
}
#vbox {
    -fx-background-color: #f8f9fa;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #ddd;
}

.prompt-text {
    -fx-fill: derive(-fx-control-inner-background, -30%);
    -fx-translate-y: 4; /* Adjust the value to center the text vertically */
}
