.profile-container {
    -fx-spacing: 15;
    -fx-alignment: center;
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2f4f4f;
}

/* ... add additional styles here as needed ... */
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #B0BEC5; /* Blue Grey */
    -fx-border-width: 0 0 2 0; /* Border only on the bottom side */
    -fx-border-radius: 0;
}

/* Button Styles */
.text-field, .password-field, .combo-box {
    -fx-padding: 8px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #ced4da;
    -fx-background-color: white;
}

.text-field:focused, .password-field:focused, .combo-box:focused {
    -fx-border-color: #80bdff;
}

.text-field[promptText], .password-field[promptText] {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.button {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #218838;
}

.button:focused, .button:default {
    -fx-background-color: #1e7e34;
}

/* HBox Styles */
.hbox {
    -fx-padding: 15;
    -fx-spacing: 10; /* Spacing between elements */
    -fx-alignment: center-left;
}